/* src/index.css */

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

/* Remove as margens padrão do navegador que criam bordas brancas */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100%;
  background-color: #f5f5f5; /* Um cinza bem clarinho de fundo igual sites de e-commerce */
}

/* Garante que o React ocupe toda a largura */
#root {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: left; /* O Vite centraliza texto por padrão, aqui voltamos ao normal */
}

html {
  scroll-behavior: smooth; /* Isso faz a rolagem ser animada e não "pular" seco */
}